# OS Files
.DS_Store
Thumbs.db
ehthumbs.db

# IDE / Editor Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Log Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules (in case user npm installs anything later)
node_modules/
dist/
build/
